@import '@styles/mixins.scss';

.Container {
  padding: 0 24px;

  @include onTablet {
    padding: 0 36px;
  }

  @include onDesktop {
    max-width: 1200px;
    padding: 0 48px;
    margin: 0 auto;
  }
}