* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  color: var(--white-color);
  letter-spacing: -.01em;
  line-height: 41px;

  @media (min-width: 640px) {
    font-size: 48px;
    line-height: 56px;
  }
}