.Slider {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
  padding-bottom: 140px;

  &_title {
    color: var(--pink-color);
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
  }
  
  &_image {
    width: 100%;
    border-radius: 30px;
    outline: none;
  }

  &_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 30px;
  }
}

.slick-dots {
  bottom: -15%;
}

.slick-dots li.slick-active button::before {
  color: var(--pink-color);
}
